<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.cn.mapper.IssueMapper">
	<insert id="addIssue" parameterType="com.ibm.cn.model.Issue">
		INSERT INTO issuelist(iTitle,createDate,iType,ilevel,aVersion,planDate,finalDate,reSteps,status,solution,assignId,alterId) 
		VALUES (#{iTitle},#{createDate},#{iType},#{ilevel},#{aVersion},#{planDate},#{finalDate},#{reSteps},#{status},#{solution},#{assignId},#{alterId})
	</insert>
	
	<delete id="deleteIssueById" parameterType="int">
		DELETE FROM issuelist WHERE issueId=#{issueId}
	</delete>
	
	<update id="updateIssueSolution"
		parameterType="com.ibm.cn.model.Issue">
		UPDATE issuelist SET solution=#{solution},status=#{status}
		WHERE issueId=#{issueId}
	</update>
    
    <update id="updateIssueStatus"
		parameterType="com.ibm.cn.model.Issue">
		UPDATE issuelist SET status=#{status} WHERE issueId=#{issueId}
	</update>
    
    <update id="updateIssueClose"
  parameterType="com.ibm.cn.model.Issue">
  UPDATE issuelist SET status=#{status},finalDate=#{finalDate}
  WHERE issueId=#{issueId}
   </update>
    
	<select id="getIssueById" parameterType="int"
		resultType="com.ibm.cn.model.Issue">
		SELECT * FROM issuelist WHERE issueId=#{issueId}
	</select>
	
	
	<select id="getAllIssues" resultType="com.ibm.cn.model.Issue">
		SELECT * FROM issuelist order by createDate desc
	</select>
   
   <select id="getAllUserEmail" resultType="com.ibm.cn.model.User">
    SELECT username, email FROM user  
  </select>
   
   
    <select id="QueryIssue" parameterType="com.ibm.cn.model.Issue"
		resultType="com.ibm.cn.model.Issue">
		SELECT * FROM issuelist WHERE <if test="issueId!=null "> issueId like concat ('%',#{issueId},'%') and</if>  assignId like concat('%',#{assignId},'%') and  status like concat('%',#{status},'%') and alterId like concat('%',#{alterId},'%')
		<if test="createStartTime!=null ">  and createDate<![CDATA[>=]]>  #{createStartTime}</if> 
        <if test="createEndTime!=null ">  and createDate<![CDATA[<=]]>  #{createEndTime}</if> 
        <if test="planStartTime!=null ">  and planDate<![CDATA[>=]]>  #{planStartTime}</if> 
        <if test="planEndTime!=null ">  and planDate<![CDATA[<=]]>  #{planEndTime}</if> 
        order by createDate desc
	</select>
	
	<select id="QueryIssueByMananger" parameterType="com.ibm.cn.model.Issue"
  resultType="com.ibm.cn.model.Issue">
  SELECT * FROM issuelist WHERE assignId like concat('%',#{assignId},'%')  or alterId like concat('%',#{alterId},'%') and status like concat('%',#{status},'%')  
  <if test="createStartTime!=null ">  and createDate<![CDATA[>=]]>  #{createStartTime}</if> 
        <if test="createEndTime!=null ">  and createDate<![CDATA[<=]]>  #{createEndTime}</if> 
        <if test="planStartTime!=null ">  and planDate<![CDATA[>=]]>  #{planStartTime}</if> 
        <if test="planEndTime!=null ">  and planDate<![CDATA[<=]]>  #{planEndTime}</if> 
        order by createDate desc
 </select>
	
	<select id="getIssuesBySql" parameterType="map"
		resultType="com.ibm.cn.model.Issue">
		select * from issuelist limit #{currIndex} , #{pageSize}
	</select>


</mapper>